<%= content_for :header do %>
  Edit Topic
<% end %>

<%= content_for :create_button do %>
  <%= link_to 'New Topic', new_admin_topic_path, class: 'btn btn-outline btn-success' %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Topic №
        <%= @topic.id %>
      </div>

      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>