<% @feedbacks.each_with_index do |feedback, index| %>
  <div class="box single-feedback">
    <div class = 'feedback-image' >
      <%= image_tag(feedback.commenter_picture.try(:url)) %>
    </div>
    <div class = 'commenter-name'>
      <h3> <%= feedback.commenter_name %> </h3>
    </div>
    <div class = 'short-desc col-centered'>
      <h5><%= feedback.short_desc %></h5>
    </div>

    <div class = 'long-desc'>
      <p><%= truncate feedback.long_desc, length: 100  %></p>
    </div>
      <button type="button" class="btn btn-default open-modal" id = <%= feedback.id %>>читать больше</button>
  </div>
<% end %>
