<% @feedbacks.each_with_index do |feedback, index| %>
  <div class="box single-feedback box-<%= index %>">
    <div class = 'feedback-image' >
      <%= image_tag(feedback.commenter_picture.try(:url)) %>
    </div>
    <div class = 'commenter-name'>
      <h3> <%= feedback.commenter_name %> </h3>
    </div>
    <div class = 'short-desc col-centered'>
      <h5><%= feedback.short_desc %></h5>
    </div>

<!--     <div class = 'long-desc'>
      <p><%= truncate feedback.long_desc, length: 20  %></p>
    </div> -->
      <%= link_to "javascript:void(0);", id: feedback.id, class: 'add-feedback' do %>
        <p>читать больше <i class="fa fa-chevron-right" aria-hidden="true"></i></p>

      <% end %>
  </div>
  <% if (index == 1 || index == 4)%>
    <div class="row-feedback"></div>
  <% end %>
<% end %>
