<%= content_for :search do %>
  <div class="b-search">
    <input type="text" placeholder="поиск по сайту">
    <button type="submit"></button>
  </div>
<% end %>

<!-- CONTENT -->
<div class="s-slide s-slide-t" style="background-image: url(<%= image_path('slide-3.jpg') %>);">
  <div class="socket">
    <div class="cell">
      <div class="b-slide-text">
        <div class="title">Философия</div>
        <div class="text">Общее описание деятельности</div>
      </div>
    </div>
  </div>
</div>

<div class="s-item s-honesty">
  <div class="socket">
    <%= image_tag('photo-3.jpg', class: 'image') %>

    <div class="b-quote b-quote-min right">
      <div class="title-d">
        <div><span>Честность</span></div>
      </div>

      <p>
        Меня зовут Светлана Гончарова. Я дважды мама,
        эксперт по семейному тайм-менеджменту
        и автор <a href="">www.flymama.info</a>  Я от всего серца хочу
        помочь вам стать организованой и счастливой мамой.
      </p>

      <a href="" class="btn btn-2">Больше обо мне</a>
    </div>
  </div>
</div>


<div class="s-item s-use">
  <div class="socket">
    <%= image_tag('photo-4.jpg', class: 'image') %>

    <div class="b-quote b-quote-min left">
      <div class="title-d">
        <div><span>Польза</span></div>
      </div>

      <p>
        Меня зовут Светлана Гончарова. Я дважды мама,
        эксперт по семейному тайм-менеджменту
        и автор <a href="">www.flymama.info</a>  Я от всего серца хочу
        помочь вам стать организованой и счастливой мамой.
      </p>

      <a href="" class="btn btn-2">Больше обо мне</a>
    </div>
  </div>
</div>

<div class="s-pol">
  <div class="title-h-center">
    <div class="title-d">
      <div><span>Анонсы семинаров</span></div>
    </div>
    <div class="text">Мои достижения и подтверждения проффесионализма</div>
  </div>

  <div class="b-carousel b-carousel-v">
    <div class="jcarousel">
      <ul>
        <li>
          <div class="b-preview shadow">
            <div class="ico-plan">
              <div class="circ circ-f">2017</div>
              <%= image_tag('ico-plan.gif') %>
            </div>
            <a href="" class="text-b">
              БЕСПЛАТНОЕ обучение  для мам от Флаймамы!
            </a>
            <div class="ttl">1 сентября</div>
            <a class="btn btn-3 btn-more" href="#">ПОДРОБНЕЕ</a>
          </div>

          <div class="b-preview shadow">
            <div class="ico-plan">
              <div class="circ circ-f">2017</div>
              <%= image_tag('ico-plan.gif') %>
            </div>
            <a href="" class="text-b">
              БЕСПЛАТНОЕ обучение  для мам от Флаймамы!
            </a>
            <div class="ttl">1 сентября</div>
            <a class="btn btn-3 btn-more" href="#">ПОДРОБНЕЕ</a>
          </div>

          <div class="b-preview shadow">
            <div class="ico-plan">
              <div class="circ circ-f">2017</div>
              <%= image_tag('ico-plan.gif') %>
            </div>
            <a href="" class="text-b">
              БЕСПЛАТНОЕ обучение  для мам от Флаймамы!
            </a>
            <div class="ttl">1 сентября</div>
            <a class="btn btn-3 btn-more" href="#">ПОДРОБНЕЕ</a>
          </div>
        </li>
        <li>
          <div class="b-preview shadow">
            <div class="ico-plan">
              <div class="circ circ-f">2017</div>
              <%= image_tag('ico-plan.gif') %>
            </div>
            <a href="" class="text-b">
              БЕСПЛАТНОЕ обучение  для мам от Флаймамы!
            </a>
            <div class="ttl">1 сентября</div>
            <a class="btn btn-3 btn-more" href="#">ПОДРОБНЕЕ</a>
          </div>

          <div class="b-preview shadow">
            <div class="ico-plan">
              <div class="circ circ-f">2017</div>
              <%= image_tag('ico-plan.gif') %>
            </div>
            <a href="" class="text-b">
              БЕСПЛАТНОЕ обучение  для мам от Флаймамы!
            </a>
            <div class="ttl">1 сентября</div>
            <a class="btn btn-3 btn-more" href="#">ПОДРОБНЕЕ</a>
          </div>

          <div class="b-preview shadow">
            <div class="ico-plan">
              <div class="circ circ-f">2017</div>
              <%= image_tag('ico-plan.gif') %>
            </div>
            <a href="" class="text-b">
              БЕСПЛАТНОЕ обучение  для мам от Флаймамы!
            </a>
            <div class="ttl">1 сентября</div>
            <a class="btn btn-3 btn-more" href="#">ПОДРОБНЕЕ</a>
          </div>
        </li>
        <li>
          <div class="b-preview shadow">
            <div class="ico-plan">
              <div class="circ circ-f">2017</div>
              <%= image_tag('ico-plan.gif') %>
            </div>
            <a href="" class="text-b">
              БЕСПЛАТНОЕ обучение  для мам от Флаймамы!
            </a>
            <div class="ttl">1 сентября</div>
            <a class="btn btn-3 btn-more" href="#">ПОДРОБНЕЕ</a>
          </div>

          <div class="b-preview shadow">
            <div class="ico-plan">
              <div class="circ circ-f">2017</div>
              <%= image_tag('ico-plan.gif') %>
            </div>
            <a href="" class="text-b">
              БЕСПЛАТНОЕ обучение  для мам от Флаймамы!
            </a>
            <div class="ttl">1 сентября</div>
            <a class="btn btn-3 btn-more" href="#">ПОДРОБНЕЕ</a>
          </div>

          <div class="b-preview shadow">
            <div class="ico-plan">
              <div class="circ circ-f">2017</div>
              <%= image_tag('ico-plan.gif') %>
            </div>
            <a href="" class="text-b">
              БЕСПЛАТНОЕ обучение  для мам от Флаймамы!
            </a>
            <div class="ttl">1 сентября</div>
            <a class="btn btn-3 btn-more" href="#">ПОДРОБНЕЕ</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="jcarousel-items">3</div>
    <div class="jcarousel-panel"></div>
    <div class="jcarousel-pagination"></div>
    <a href="#" class="jcarousel-control-prev"></a>
    <a href="#" class="jcarousel-control-next"></a>
  </div>

  <div class="title-h-center">
    <div class="title-d">
      <div><span>Полиграфия</span></div>
    </div>
    <div class="text">Мои достижения и подтверждения проффесионализма</div>
  </div>

  <div class="b-carousel b-carousel-p">
    <div class="jcarousel">
      <ul>
        <li>
          <div class="b-polygraphy shadow">
            <h3>7 заповедей  организованной мамы</h3>
            <div class="book">
              <%= image_tag('book-1.jpg') %>
              <div class="circ circ-f">140 грн.</div>
            </div>
            <div class="text-b">краткое описание</div>
            <p>
              Мы все любим наших детей. Мы счастливы  быть мамами. Но зачасту материнство оказывается вовсе не таким уж лучезарным.
            </p>
            <a class="btn btn-3 btn-more" href="#">заказать книгу</a>
          </div>

          <div class="b-polygraphy shadow">
            <h3>Источник сил для  уставшей мамы</h3>
            <div class="book">
              <%= image_tag('book-2.jpg') %>
              <div class="circ circ-f">140 грн.</div>
            </div>
            <div class="text-b">краткое описание</div>
            <p>
              Мы все любим наших детей. Мы счастливы  быть мамами. Но зачасту материнство оказывается вовсе не таким уж лучезарным.
            </p>
            <a class="btn btn-3 btn-more" href="#">заказать книгу</a>
          </div>

          <div class="b-polygraphy shadow">
            <h3>Онлайн-карьера  <br>для мам</h3>
            <div class="book">
              <%= image_tag('book-3.jpg') %>
              <div class="circ circ-f">140 грн.</div>
            </div>
            <div class="text-b">краткое описание</div>
            <p>
              Мы все любим наших детей. Мы счастливы  быть мамами. Но зачасту материнство оказывается вовсе не таким уж лучезарным.
            </p>
            <a class="btn btn-3 btn-more" href="#">заказать книгу</a>
          </div>
        </li>
        <li>
          <div class="b-polygraphy shadow">
            <h3>7 заповедей  организованной мамы</h3>
            <div class="book">
              <%= image_tag('book-2.jpg') %>
              <div class="circ circ-f">140 грн.</div>
            </div>
            <div class="text-b">краткое описание</div>
            <p>
              Мы все любим наших детей. Мы счастливы  быть мамами. Но зачасту материнство оказывается вовсе не таким уж лучезарным.
            </p>
            <a class="btn btn-3 btn-more" href="#">заказать книгу</a>
          </div>

          <div class="b-polygraphy shadow">
            <h3>Источник сил для  уставшей мамы</h3>
            <div class="book">
              <%= image_tag('book-3.jpg') %>
              <div class="circ circ-f">140 грн.</div>
            </div>
            <div class="text-b">краткое описание</div>
            <p>
              Мы все любим наших детей. Мы счастливы  быть мамами. Но зачасту материнство оказывается вовсе не таким уж лучезарным.
            </p>
            <a class="btn btn-3 btn-more" href="#">заказать книгу</a>
          </div>

          <div class="b-polygraphy shadow">
            <h3>Онлайн-карьера  <br>для мам</h3>
            <div class="book">
              <%= image_tag('book-1.jpg') %>
              <div class="circ circ-f">140 грн.</div>
            </div>
            <div class="text-b">краткое описание</div>
            <p>
              Мы все любим наших детей. Мы счастливы  быть мамами. Но зачасту материнство оказывается вовсе не таким уж лучезарным.
            </p>
            <a class="btn btn-3 btn-more" href="#">заказать книгу</a>
          </div>
        </li>
        <li>
          <div class="b-polygraphy shadow">
            <h3>7 заповедей  организованной мамы</h3>
            <div class="book">
              <%= image_tag('book-1.jpg') %>
              <div class="circ circ-f">140 грн.</div>
            </div>
            <div class="text-b">краткое описание</div>
            <p>
              Мы все любим наших детей. Мы счастливы  быть мамами. Но зачасту материнство оказывается вовсе не таким уж лучезарным.
            </p>
            <a class="btn btn-3 btn-more" href="#">заказать книгу</a>
          </div>

          <div class="b-polygraphy shadow">
            <h3>Источник сил для  уставшей мамы</h3>
            <div class="book">
              <%= image_tag('book-2.jpg') %>
              <div class="circ circ-f">140 грн.</div>
            </div>
            <div class="text-b">краткое описание</div>
            <p>
              Мы все любим наших детей. Мы счастливы  быть мамами. Но зачасту материнство оказывается вовсе не таким уж лучезарным.
            </p>
            <a class="btn btn-3 btn-more" href="#">заказать книгу</a>
          </div>

          <div class="b-polygraphy shadow">
            <h3>Онлайн-карьера  <br>для мам</h3>
            <div class="book">
              <%= image_tag('book-3.jpg') %>
              <div class="circ circ-f">140 грн.</div>
            </div>
            <div class="text-b">краткое описание</div>
            <p>
              Мы все любим наших детей. Мы счастливы  быть мамами. Но зачасту материнство оказывается вовсе не таким уж лучезарным.
            </p>
            <a class="btn btn-3 btn-more" href="#">заказать книгу</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="jcarousel-items"></div>
    <div class="jcarousel-panel"></div>
    <div class="jcarousel-pagination"></div>
    <a href="#" class="jcarousel-control-prev"></a>
    <a href="#" class="jcarousel-control-next"></a>
  </div>

</div>
<!-- / CONTENT -->