<div class="container">
  Home Index
  <%= link_to 'Admin', admin_root_path%>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <%= form_tag root_path, method: :get, data: { turboform: true } do %>
        <%= text_field_tag :term, '', class: 'form-control', placeholder: 'search'%>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-8">
          <div class="posts">
            <%- @posts.each_slice(2).with_index do |posts, index| %>
              <div class="row">
                <%= render posts %>
              </div>

              <%- if index == 0 %>
                Facebook
                <div class="row">
                  <%- @fb_posts.each do |post| %>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-2"><%= image_tag post.image_url(:small_thumb)%></div>
                        <div class="col-lg-8"><%= post.content %></div>
                        <div class="col-lg-2">
                          <%= fa_icon('thumbs-o-up') %>
                          <%= post.likes %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <%- if index == 1 %>
                Instagram
                <div class="row">
                  <%- @inst_posts.each do |post| %>
                    <div class="col-lg-4">
                      <%= image_tag post.image_url(:thumb)%>
                      <p>
                        <%= fa_icon('thumbs-o-up') %>
                        <%= post.likes %>
                        <%= fa_icon('comment') %>
                        <%= post.comments.length%>
                      </p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>

          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>

