<!-- CONTENT -->
<div class="s-slide s-slide-main">
  <%= video_tag("v1.mp4", poster: "slide-1.jpg",  class: "video-bg-m", playsinline: true, autoplay: true,  muted: true) %>
    <div class="socket">
        <div class="cell">
            <div class="b-slide-text quote">
                <div class="title">Мама - сердце семьи!</div>
                <div class="text">Если мама организованная, здоровая и счастливая - выигрывает все семья.</div>
            </div>
        </div>

        <!-- <img class="fig-mob" src="images/fig-mob-1.png" alt="">     -->
    </div>
</div>

<div class="s-item s-intro">
  <div class="socket">
    <%= image_tag('hi.jpg', class: 'image')%>

    <span class="circ"></span>

    <div class="b-quote right">
      <div class="q">„</div>
      <div class="title-d it">
        <div><span>Привет!</span></div>
      </div>

      <p>
        Меня зовут Света Гончарова. Я дважды мама,
        эксперт по семейному тайм-менеджменту,
        писательница и автор <a href="">www.flymama.info</a> Я от всего сердца хочу
        помочь вам стать организованной и счастливой мамой.
      </p>
      <%= link_to 'Узнать больше', about_path, class: "btn btn-2" %>
    </div>
  </div>
</div>

<div class="s-item s-book">
  <div class="socket">

    <span class="circ"></span>

    <div class="book-form">
      <div class="title-d">
        <div><span>Подарок</span></div>
      </div>
      <div class="text">Начните свой путь к порядку прямо сейчас!  Я хочу подарить вам
                        Планер Королевы Порядка. Скачайте, распечатайте и планируйте день,
                        неделю, месяц, меню, бюджет легко и просто.</div>
      <%= form_tag free_planer_path, id: 'free-book-form', remote: true do %>
          <div class="input">
              <%= email_field_tag :email, nil, id: 'email-free-book', placeholder: "введите ваш е-мейл", required: true %>
          </div>
          <%= submit_tag 'Скачать', class: "btn btn-2" %>
        <% end %>
    </div>
      <%= image_tag('planner.jpg', class: 'image') %>
  </div>
</div>

 <div class="b-slider-mobile"></div>

 <div class="s-publish">
    <div class="title-h-center">
        <div class="title-d">
            <div><span>Полиграфия</span></div>
        </div>
        <div class="text polygraphy">Получите ежедневное вдохновение, идеи и мотивацию в
                          моих книгах-бестселлерах для мам. Кстати, кроме книг у меня есть
                          еще календарь и планнер для мам. Вы уже их видели?</div>
    </div>
    <%= link_to 'УЗНАТЬ БОЛЬШЕ', polygraphy_path, class: "btn btn-2 btn-center" %>

    <div class="block-img">
      <%= image_tag('ipad-2.png', class: 'image') %>
    </div>

    <div class="b-books desc">
      <div class="container-fluid">
        <div class="row">
          <% Book.order(:id).all.each do |book| %>
              <div class="b-book col-md-4" id="<%= "book-wrapper-#{book.id}" %>">
                  <div class="cover">
                      <%= image_tag(book.image.url) %>
                  </div>
                  <div class="price">
                      <%= book.price %> грн.
                  </div>
                  <h3><%= book.title %></h3>
                  <p> <%= book.content %></p>
                  <%= link_to 'заказать книгу', polygraphy_path, class: "btn btn-3 btn-more", id: book.id %>
              </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="b-carousel b-carousel-p mobile">
        <div class="jcarousel">
            <ul>
              <li>
                <% Book.order(:id).all.each do |book| %>
                    <div class="b-polygraphy shadow" id=<%="book-wrapper-#{book.id}"%>
                        <h3><%= book.title %></h3>
                        <div class="book" id="<%= "book-#{book.id}" %>">
                            <%= image_tag(book.image.url) %>
                            <div class="circ circ-f"><%= book.price %> грн.</div>
                        </div>
                        <div class="text-b">краткое описание</div>
                        <p> <%= book.content %></p>
                        <%= link_to 'заказать книгу', polygraphy_path, class: "btn btn-3 btn-more", id: book.id %>
                    </div>
                <% end %>
              <li>
            </ul>
        </div>
       <!--  <div class="jcarousel-items"></div>
        <div class="jcarousel-panel"></div>
        <div class="jcarousel-pagination"></div>
        <a href="#" class="jcarousel-control-prev"></a>
        <a href="#" class="jcarousel-control-next"></a> -->
    </div>
 </div>


      <div class="b-slider-p-mobile"></div>

 <div class="s-item s-feedback">
      <div class="socket">

          <div class="column-t">
              <div class="title-d">
                  <div>Отзывы о мне</div>
              </div>
              <div class="text">Краткие отзывы о моей работе</div>
          </div>

          <div class="b-carousel b-carousel-f">
              <div class="jcarousel">
                  <ul>
                      <li>
                          <div class="img">

                               <%= image_tag('fb-img.jpg') %>
                              <div class="play"><span>Включить видео</span></div>
                          </div>

                          <div class="b-quote right">
                            <div class="q">„</div>
                              <div class="b-person">
                                  <div class="avatar">
                                  <%= image_tag('avatar.jpg') %></div>
                                  <div class="name">Ирина Осина</div>
                                  <div class="text">Мать 3 детей, косметолог</div>
                              </div>
                              <div class="quote-text">
                                  <p>
                                      "У меня наконец-то появилось времья на себя и на  свои увлечения и желание без отрыва от семьи.
                                      У меня появилось время для мужа так что он доволен и я тоже!))"
                                  </p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="img"><%= image_tag('fb-img.jpg') %></div>

                          <div class="b-quote right">
                            <div class="q">„</div>
                              <div class="b-person">
                                  <div class="avatar"><%= image_tag('avatar.jpg') %></div>
                                  <div class="name">Оксана Мосина</div>
                                  <div class="text">Мать 18 детей, педиатр</div>
                              </div>
                              <div class="quote-text">
                                  <p>
                                      "Есть на себя и на свои увлечения времья для мужа так что он доволен и я тоже. У меня наконец-то появилось увлечения"
                                  </p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="img"><%= image_tag('fb-img.jpg') %></div>

                          <div class="b-quote right">
                            <div class="q">„</div>
                              <div class="b-person">
                                  <div class="avatar"><%= image_tag('avatar.jpg') %></div>
                                  <div class="name">Марина Есинаева</div>
                                  <div class="text">Мать 0 детей, психолог</div>
                              </div>
                              <div class="quote-text">
                                  <p>
                                      "У меня наконец-то появилось времья на себя и на  свои увлечения и желание без отрыва от семьи.
                                      У меня появилось время для мужа так что он доволен и я тоже!))"
                                  </p>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>

              <div class="jcarousel-items"></div>
              <div class="jcarousel-panel"></div>
              <div class="jcarousel-pagination"></div>
              <a href="#" class="jcarousel-control-prev"></a>
              <a href="#" class="jcarousel-control-next"></a>
          </div>
              <%= link_to 'все отзывы', feedbacks_path, class: "btn btn-3 btn-more", id: 'all-feedbacks' %>

          <div class="circ"></div>
      </div>
  </div>



  <div class="s-item main-quote clearfix">
      <div class="photo">
        <%= image_tag('photo-2.jpg', class: "image") %>
      </div>
      <div class="quote-side">
          <div class="q-weapper">
                <h2>
                  «Женщины особенны
                  <br>
                  Роль женщины уникальна»
                </h2>
                <div class="text">Особенности женщин обширны, именно по этому для женщин  тоже нужен особый женский подход к организации времени.</div>
              <div class="b-person b-person-m">
                  <div class="avatar"><%= image_tag('avatar-2.jpg') %></div>
                  <div class="cell">
                      <div class="name">Светлана Гончарова, <span>эксперт по семейному тайм-менеджменту</span></div> 
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="s-articles clearfix">
      <div class="title-h-center">
          <div class="title-d">
              <div>Интересные статьи</div>
          </div>
          <div class="text">Уже более 3245 клиентов изменили свою жизнь с помощью наших блогов</div>
      </div>

      <div class="blog-socket">

        <div class="b-articles">
          <%- Topic.all.each_with_index do |topic, index| %>
            <div class="article topic-<%= "#{index + 1}" %>">
              <div class="bg"></div>
              <div class="ico-a">
                 <%= image_tag("ico-#{index + 1 }.png") %>
              </div>
              <div class="name"><%= topic.title %></div>
              <div class="text"> <%= topic.posts.count %> <%= pluralize_article(topic.posts.count) %></div>
              <%= link_to 'ЧИТАТЬ СТАТЬИ', posts_path(topic: topic.id), class: "btn btn-2 btn-g btn-read" %>
           </div>
          <% end %>
        </div>
  </div>
            <!-- / CONTENT -->
 </div><!-- / MAIN -->
