<!-- CONTENT -->
<div class="s-slide s-slide-t" >
  <div class="socket">
    <div class="cell">
      <div class="b-slide-text white-text">
        <div class="title">Партнерам</div>
        <div class="text">Общее описание деятельности</div>
      </div>
    </div>
  </div>
</div>

<div class="w-partners">
  <div class="s-item s-coop">
    <div class="socket">

      <div class="column-t">
        <div class="title-d">
          <div><span>Способы</span></div>
          <div><span>сотрудничества</span></div>
        </div>
        <p>
          Меня зовут Светлана Гончарова. Я дважды мама,
          эксперт по семейному тайм-менеджменту
          и автор <a href="">www.flymama.info</a>  Я от всего серца хочу
          помочь вам стать организованой и счастливой мамой.
        </p>
      </div>

      <div class="b-quote  b-quote-min right">
        <h3>Хотите связаться со мной?</h3>
        <div class="text">Введите имя и е-мейл пожалуйста</div>
        <%= form_tag(contact_me_path, remote: true, id: 'form-one') do %>
          <%= hidden_field_tag 'form_one', true %>
          <div class="input">
            <%= text_field_tag :name, nil, id: 'name-1', placeholder: "Введите ваше имя", required: true %>
          </div>
          <div class="input">
              <%= email_field_tag :email, nil, id: 'email-1', placeholder: "Введите ваш е-мейл", required: true %>
          </div>
            <%= submit_tag 'связаться со мной', class: "btn btn-2" %>
        <% end %>
      </div>

      <div class="lines">
        <span></span>
      </div>
    </div>
  </div>

  <div class="s-item s-use">
    <div class="socket">
      <%= image_tag('photo-4.jpg', class: 'image left') %>

      <div class="column-t">
        <div class="title-d">
          <div><span>Условия</span></div>
          <div><span>сотрудничества</span></div>
        </div>
        <p>
          Меня зовут Светлана Гончарова. Я дважды мама,
          эксперт по семейному тайм-менеджменту
          и автор <a href="">www.flymama.info</a>  Я от всего серца хочу
          помочь вам стать организованой и счастливой мамой.
        </p>
        <a id="btn-s" href="" class="btn btn-2">написать мне письмо</a>
      </div>

    </div>
  </div>
</div>
<!-- / CONTENT -->
<!-- POPUP -->
<div class="w-popup">
  <div id="popup-s" class="b-popup">
      <div class="close"></div>
      <div class="popup">
          <div class="ico-mail">
              <%= image_tag('ico-mail.gif') %>
          </div>
          <h3>Хотите связаться со мной?</h3>
          <!-- <p>
              Будьте первыми кто узнает  об обновлениях на нашем сайте
          </p> -->
          <%= form_tag(contact_me_path, id: 'form-two', remote: true) do %>
            <%= hidden_field_tag 'form_two', true %>
            <div class="input-r">
              <%= text_field_tag :name, nil, id: 'name-2', placeholder: "Введите ваше имя", required: true %>
            </div>
            <div class="input-r">
                <%= email_field_tag :email, nil, id: 'email-2', placeholder: "Введите ваш е-мейл", required: true %>
            </div>
              <%= submit_tag 'связаться со мной', class: "btn btn-2" %>
          <% end %>
      </div>
  </div>
</div>
