<div class="b-article shadow">
  <%= link_to show_posts_path(id: post.id), class: "image" do%>
    <%= image_tag post.image_url(:thumb) %>
  <% end %>
  <div class="desc">
    <div class="circ-l"><span><%= image_tag('ico-fav.png') %></span></div>
    <h3><%= link_to post.title, show_posts_path %></h3>
    <div class="tags">
      <div class="tag">#<%= post.category.try(:title) %></div>
    </div>
    <p style = 'word-break: break-word;'>
      <%= post.content %>
    </p>
    <div class="stats">
      <div class="stat">
        <%= image_tag('ico-com.png') %>
        <span><%= post.comments.length%></span>
      </div>
      <div class="stat">
        <%= image_tag('ico-v.png') %>
        <span><%= post.impressionist_count %></span>
      </div>
      <div class="stat">
        <%= image_tag('ico-cal.png') %>
        <span><%= l(post.created_at.to_date, :format => :default) %></span>
      </div>
    </div>
  </div>
</div>
