<div class="b-article shadow">
  <a class="image" href="#">
    <%= image_tag post.image_url(:thumb) %>
  </a>
  <div class="desc">
    <div class="circ-l"><span><%= image_tag('ico-fav.png') %></span></div>
    <h3><%= link_to post.title, '' %></h3>
    <div class="tags">
      <div class="tag">#<%= post.category.try(:title) %></div>
    </div>
    <p>
      <%= truncate post.content, length: 160 %>
    </p>
    <div class="stats">
      <div class="stat">
        <%= image_tag('ico-com.png') %>
        <span><%= post.comments.length%></span>
      </div>
      <div class="stat">
        <%= image_tag('ico-v.png') %>
        <span>235</span>
      </div>
      <div class="stat">
        <%= image_tag('ico-cal.png') %>
        <span><%= l(post.created_at.to_date, :format => :default) %></span>
      </div>
    </div>
  </div>
</div>
