<div class="s-slide s-slide-blog">
  <div class="socket">
    <div class="cell">
      <div class="b-slide-text">
        <div class="text">Больше 1349 разных статей</div>
        <div class="title">Блог</div>
        <a href="" class="btn order-consultation">Заказать профеcсиональную конультацию</a>
      </div>
    </div>
  </div>
</div>

<div class="blog-socket">
  <div class="s-filter shadow">
    <div class="topics">
      <%- Topic.all.each_with_index do |topic, index| %>
        <!-- FIX for blank image -->
        <div class="i-topic" id = "i-<%=topic.id%>">
          <div class="ico">
            <%= hidden_field_tag :topic, topic.id, id: "topic-#{topic.id}"%>
            <%= image_tag("c-#{index + 1 }.png", class: 'def') %>
            <%= image_tag("ico-#{index + 1}.png", class: 'act') %>
          </div>
          <span class = 'topic-title'><%= topic.title %></span>
        </div>
        <% if params[:topic].to_i == index + 1 %>
          <script>
            $("#topic-<%=topic.id %>").next('.def').next('.act').show();
            $("#topic-<%=topic.id %>").next('.def').hide();
            $("#topic-<%=topic.id %>").parents('.i-topic').addClass('is-active');
            $("#topic-<%=topic.id %>").parent().next().css('color', '#d3215d');
          </script>
        <% end %>
      <% end %>
    </div>

    <div class="filter-row">
      <div class="filter-item all category active-category">
        <span>Все категории</span>
      </div>
      <%- Category.first(8).each do |category| %>
        <div class="filter-item category">
          <%= hidden_field_tag :category,  category.id %>
          <span><%= category.title %></span>
        </div>
      <% end %>
      <div class="filter-item filter-item-select">
        <div class="filter-select">
          <%= select_tag(:theme_select, options_for_select((Category.last(9) || []).map{|i| [i.title, i.id]}), { include_blank: true, class: 'chosen-select', data: {placeholder: "Еще"}})%>
        </div>
      </div>

      <div class="filter-item filter-item-select">
        <div class="filter-select">
          <select>
            <option>Самые новые</option>
            <option>Самые старые</option>
          </select>
        </div>
      </div>
    </div>
  </div>


  <div class="clearfix">
    <!-- Column -->
    <div class="column">
     <%= render 'posts_part' %>
    </div>
  </div>

    <!-- Sidebar -->
    <aside class="sidebar">

      <div class="b-subs shadow">
        <div class="ico-mail">
          <%= image_tag('ico-mail.gif') %>
        </div>
        <h3>Подпишитесь сейчас</h3>
        <p>
          Будьте первыми кто узнает  об обновлениях на нашем сайте
        </p>
        <form action="">
          <button class="btn btn-2 subscribe" type="submit">подписаться</button>
        </form>
      </div>

      <div class="b-plan shadow">
        <div class="ico-plan">
          <div class="circ circ-f">2017</div>
          <%= image_tag('ico-plan.gif') %>
        </div>
        <h3>Мама-план</h3>
        <p>
          Как маме запланировать и прожить  позитивный, проактивный и продуктивный год
        </p>
        <a class="btn btn-2 mom-plan" href="#">узнать больше</a>
      </div>

      <div class="b-courses shadow">
        <h3>Наши курсы</h3>
        <div class="course-item">
          <div class="circ circ-f">№1</div>
          <a class="text-b" href="#">Система восстановления</a>
          <div class="text">Онлайн-тренинг</div>
        </div>
        <div class="course-item">
          <div class="circ circ-f">№2</div>
          <a class="text-b" href="#">Система восстановления</a>
          <div class="text">Онлайн-тренинг</div>
        </div>
        <div class="course-item">
          <div class="circ circ-f">№3</div>
          <a class="text-b" href="#">Система восстановления</a>
          <div class="text">Онлайн-тренинг</div>
        </div>
      </div>

      <div class="b-load shadow">
        <div>
          посмотреть больше курсов
        </div>
      </div>

      <div class="b-calendar shadow">
        <h3>Календарь тренингов</h3>
        <div id="calendar"></div>
        <a href="" class="today text-b">перейти на сегодня</a>
      </div>

      <div class="b-plan shadow">
        <div class="ico-ball">
          <%= image_tag('ico-ball.gif') %>
        </div>
        <h3>Взлетай над бытом</h3>
        <p>
          Стань королевой порядка! Это проще чем кажется Я расскажу тебе как :)
        </p>
        <a class="btn btn-2 learn-more" href="#">узнать больше</a>
      </div>

    </aside>

  </div>
</div>
<!-- POPUP -->
<div class="w-popup">
  <div id="popup-s" class="b-popup">
    <div class="close"></div>
    <div class="popup">
        <div class="ico-mail">
            <%= image_tag('ico-mail.gif') %>
        </div>
        <h3>Закажите консультацию</h3>
        <%= form_tag order_consultation_path, id: 'consultation-form', remote: true do%>
          <div class="input-r">
              <%= email_field_tag :email, nil, id: 'email-consultation', placeholder: "Ваш е-мейл", required: true %>
          </div>
          <%= hidden_field_tag 'learn_more', nil %>
          <%= hidden_field_tag 'mom_plan', nil %>
          <%= submit_tag 'заказать', class: "btn btn-4" %>
      <% end %>
    </div>
</div>


