<!-- CONTENT -->
 <div class="s-slide s-slide-blog-i">
    <%= image_tag(@post.image.url, style: "height: 100%; width: 100%; position: absolute;") %>
    <div class="socket">
        <div class="cell">
            <div class="b-slide-text">
                <div class="text">Раздел: <%= @post.try(:category).try(:title) %></div>
                <div class="title"><%= @post.try(:title) %></div>
                <div class="stats">
                    <div class="stat" id = "show-comments">
                        <%= image_tag("ico-com-2.png") %>
                        <span><%= @post.comments.try(:count) %></span>
                    </div>
                    <div class="stat">
                        <%= image_tag("ico-v-2.png") %>
                        <span><%= @post.impressionist_count %></span>
                    </div>
                    <div class="stat">
                        <%= image_tag("ico-cal-2.png") %>
                        <span><%= l(@post.created_at.to_date, :format => :default) %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-socket blog-socket-t">
    <div class="clearfix">
        <!-- Column -->
        <div class="column">
            <div class="s-text shadow">
                <section>
                    <h3><%= @post.try(:title) %></h3>
                    <div class = "post-content">
                        <%= @post.try(:content).html_safe %>
                    </div>
                </section>
            </div>

            <div class="s-text shadow">
                <div class="title-com">
                    <h3>Комментарии</h3>
                    <i><%= @post.comments.count %></i>
                </div>
                <div class = 'comments'>
                     <% @post.comments.each do |comment| %>
                        <%= render partial: 'comment', locals: {comment: comment} %>
                     <% end %>
                </div>
                <h3>Добавить свой комментарий</h3>
                <div class="form-comment">
                    <%= form_for Comment.new, url: create_comment_path, class: 'form-comment', remote: true do |f| %>
                        <%= hidden_field_tag 'comment[post_id]', @post.id %>
                        <%= f.text_field :commenter, placeholder: 'Ваше имя' %>
                        <%= f.text_area :content, placeholder: "Оставьте тут свой комментарий...", required: true %>
                        <%= f.submit 'отправить комментарий ', class: "btn-sub" %>
                    <% end %>
                </div>
            </div>

            <div class="social-panel shadow">
                <div class="share-count">
                    <span> <%= count_shares(@post) %> </span>
                </div>
                <ul>
                    <li class="soc-1">
                       <%= link_to '', "https://vk.com/share.php?url=#{post_url(@post)}", target: "_blank" %>
                    </li>
                    <li class="soc-2">
                         <%= link_to '', "http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=#{post_url(@post)}", target: "_blank" %>
                    </li>
                    <li class="soc-3">
                        <%= link_to '', "http://www.facebook.com/sharer/sharer.php?u=#{post_url(@post)}", target: "_blank" %>
                    </li>
                    <li class="soc-4">
                        <%= link_to '', "http://www.twitter.com/intent/tweet?url=#{post_url(@post)}", target: "_blank" %>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Sidebar -->
        <aside class="sidebar">

            <div class="b-subs shadow">
                <div class="ico-mail">
                    <%= image_tag 'ico-mail.gif' %>
                </div>
                <h3>Подпишитесь сейчас</h3>
                <p>
                    Будьте первыми кто узнает  об обновлениях на нашем сайте
                </p>
                <form action="">
                    <button class="btn btn-2 subscribe" type="submit">подписаться</button>
                </form>
            </div>

            <div class="b-plan shadow">
                <div class="ico-plan">
                    <div class="circ circ-f">2017</div>
                    <%= image_tag("ico-plan.gif") %>
                </div>
                <h3>Мама-план</h3>
                <p>
                    Как маме запланировать и прожить  позитивный, проактивный и продуктивный год
                </p>
                <a class="btn btn-2 mom-plan" href="#">узнать больше</a>
            </div>

            <div class="b-courses shadow">
                <h3>Наши курсы</h3>
                <div class="course-item">
                    <div class="circ circ-f">№1</div>
                    <a class="text-b" href="#">Система восстановления</a>
                    <div class="text">Онлайн-тренинг</div>
                </div>
                <div class="course-item">
                    <div class="circ circ-f">№2</div>
                    <a class="text-b" href="#">Система восстановления</a>
                    <div class="text">Онлайн-тренинг</div>
                </div>
                <div class="course-item">
                    <div class="circ circ-f">№3</div>
                    <a class="text-b" href="#">Система восстановления</a>
                    <div class="text">Онлайн-тренинг</div>
                </div>
            </div>

            <div class="b-load shadow">
                <div>
                    посмотреть больше курсов
                </div>
            </div>

            <div class="b-calendar shadow">
                <h3>Календарь тренингов</h3>
                <div id="calendar"></div>
                <a href="" class="today text-b">перейти на сегодня</a>
            </div>

            <div class="b-plan shadow">
                <div class="ico-ball">
                    <%= image_tag("ico-ball.gif") %>
                </div>
                <h3>Взлетай над бытом</h3>
                <p>
                    Стань королевой порядка! Это проще чем кажется Я расскажу тебе как :)
                </p>
                <a class="btn btn-2 learn-more" href="#">узнать больше</a>
            </div>

        </aside>

    </div>
</div>


            <!-- / CONTENT -->
    </div><!-- / MAIN -->

  </body>
</html>
<!-- POPUP -->
<div class="w-popup">
  <div id="popup-s" class="b-popup">
    <div class="close"></div>
    <div class="popup">
        <div class="ico-mail">
            <%= image_tag('ico-mail.gif') %>
        </div>
        <h3>Закажите консультацию</h3>
        <%= form_tag order_consultation_path, id: 'consultation-form', remote: true do%>
          <div class="input-r">
              <%= email_field_tag :email, nil, id: 'email-consultation', placeholder: "Ваш е-мейл", required: true %>
          </div>
          <%= hidden_field_tag 'learn_more', nil %>
          <%= hidden_field_tag 'mom_plan', nil %>
          <%= submit_tag 'заказать', class: "btn btn-4" %>
      <% end %>
    </div>
</div>


