<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/flash' %>
<%= yield %>
    <ul>
      <li><%= link_to 'Posts', admin_posts_path %></li>
      <li><%= link_to 'Users', admin_users_path %></li>
    </ul>
</body>
</html>
