<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <title>Goncharova</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <meta property="og:title" content="<%= @post.try(:title) %>"/>
  <meta property="og:description" content="<%= @post.try(:content) %>"/>
  <meta property="og:image" content="<%= @post ? @post.image.url : '' %>"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="<%= @post.try(:title) %>"/>
  <meta name="twitter:description" content="<%= @post.try(:content) %>"/>
  <meta name="twitter:image" content="<%= @post ? @post.image.url : '' %>"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main">
    <header id="header">
      <div class="s-header-top">
        <div class="socket">
          <div class="btn-menu" id="btn-menu">
            <span></span>
            <div>закрыть меню</div>
          </div>

          <div class="header-title">
            <%= link_to root_path do %>
              <%= image_tag('flymama-logo.png') %>
            <% end %>
          </div>
          <div class="btn-search"></div>

            <%= form_for :term, url: search_path, method: :get do |form| %>
              <div class="b-search">
                <%= text_field_tag :term, params[:term], placeholder: "поиск по сайту", required: true%>
                <button type="submit"></button>
            <% end %>
          </div>
        </div>

        <!-- Menu Drop -->
        <div class="w-menu-drop">
          <ul class="menu-drop">
            <li class= <%= "is-current" if (params[:action] == 'index' && params[:controller] == 'home')%>>
              <%= link_to root_path do %>
                <span>01  </span>
                Главная
              <% end %>
            </li>
            <li class=<%= "is-current" if  params[:action] == 'about'%>>
              <%= link_to about_path do %>
                <span>02 </span>
                Обо мне
              <% end %>
            </li>
            <li class=<%= "is-current" if (params[:action] == 'index' && params[:controller] == 'posts')%>>
              <%= link_to posts_path do%>
                <span>04 </span>
                Блог
              <% end %>
            </li>
            <li class=<%= "is-current" if  params[:action] == 'partners'%>>
               <%= link_to partners_path do %>
                <span>05 </span>
                Партнерам
              <% end %>
            </li>
          </ul>
        </div><!-- / Menu Drop -->
      </div>

      <div class="s-header-btm">
        <!-- Menu -->
        <nav class="menu">
          <ul>
            <li class="<%= menu_current_page('home') %>"><%= link_to 'главная', root_path %></li>
            <li class="<%= menu_current_page('about') %>"><%= link_to 'обо мне', about_path%></li>
            <li class="<%= menu_current_page('posts') %>"><%= link_to 'блог', posts_path %></li>
            <li class="<%= menu_current_page('partners') %>"><%= link_to 'партнерам', partners_path %></li>
          </ul>
        </nav>
      </div>
    </header><!-- / HEADER -->

    <%= render 'layouts/flash'%>
    <%= yield %>
  </div>

  <!-- FOOTER -->
  <footer id="footer">
    <div class="socket">
      <div class="b-social">
        <span>Мы в социальных сетях :</span>
        <ul>
          <li class="vk"><%= link_to '', 'https://vk.com/flymama', target: '_blank' %></li>
          <li class="ok"><a href=""></a></li>
          <li class="fb"><%= link_to '', 'https://www.facebook.com/Flymamainfo', target: '_blank' %></li>
        </ul>
      </div>
      <div class="copyright">Все права защищены &copy; 2016</div>
    </div>
  </footer><!-- / FOOTER -->
</body>
</html>
